a {
  text-decoration: none;
}

#bodys {
  display: none;
}

#ac-picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#svg-loader {
  margin-top: 80%;
  margin-left: 45%;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
}
.head .head_img {
  margin-left: 0.37333rem;
  height: 0.53333rem;
}
.head .head_img img {
  width: 0.53333rem;
  height: 100%;
  vertical-align: middle;
}
.head .head_find {
  display: inline-block;
  font-size: 0.53333rem;
  color: #434343;
}
.head .head_share {
  margin-right: 0.37333rem;
  height: 0.53333rem;
}
.head .head_share img {
  width: 0.53333rem;
  height: 100%;
  vertical-align: middle;
}

#pic {
  height: 5.6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#playVideos {
  width: 100%;
  height: 100%;
}

#pause {
  position: absolute;
  top: 28%;
  left: 38%;
  height: 1.86667rem;
  width: 1.86667rem;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.head_pic {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0rem 0.37333rem;
}
.head_pic #head_pic {
  position: absolute;
  top: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.head_pic .head_name {
  display: flex;
  justify-content: space-between;
  margin-left: 1.86667rem;
  margin-top: 0.26667rem;
  width: 80%;
  color: #999999;
}
.head_pic .head_name .author {
  font-size: 0.32rem;
}
.head_pic .head_name .attention {
  font-size: 0.4rem;
}
.head_pic .head_name .attention img {
  vertical-align: initial;
  width: 0.4rem;
  height: 0.4rem;
}

#activity_title {
  margin: 0rem 0.37333rem;
  margin-top: 0.4rem;
  line-height: 0.82667rem;
  color: #434343;
  letter-spacing: 0.02667rem;
  font-size: 0.50667rem;
}

.activity_time {
  margin: 0rem 0.37333rem;
  margin-top: 0.32rem;
  font-size: 0.37333rem;
  color: #666666;
  letter-spacing: 0.02667rem;
}

.preface {
  margin: 0.66667rem 0.37333rem 0rem 0.37333rem;
}
.preface .preface_n {
  font-size: 0.45333rem;
  color: #434343;
}
.preface #details {
  margin-top: 1.2rem;
  font-size: 0.4rem;
  color: #999999;
  line-height: 0.66667rem;
  letter-spacing: 0.02667rem;
}
.preface #details img {
  margin-top: 0.58667rem;
  margin-top: 0.58667rem;
  width: 9.25333rem;
  height: 4.93333rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.preface #details p {
  word-wrap: break-word;
}
.preface .read {
  margin-top: 0.53333rem;
  margin-bottom: 0.4rem;
  font-size: 0.32rem;
  text-align: center;
  color: #d7d6d6;
}

.col-ys {
  width: 100%;
  height: 0.29333rem;
  background: #F8F8F8;
}

.comment {
  letter-spacing: 0.02667rem;
}
.comment .comment_c {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.37333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.4rem;
  color: #434343;
}
.comment .comment_c span img {
  margin-right: 0.26667rem;
  width: 0.58667rem;
  height: 0.66667rem;
  vertical-align: middle;
}
.comment .xian {
  height: 0.18667rem;
}
.comment .xian img {
  width: 100%;
  height: 0.02667rem;
}
.comment .comment_content {
  background: #F8F8F8;
}
.comment .comment_content .comment_one {
  margin-top: -0.02667rem;
  margin: 0rem 0.37333rem;
  border-bottom: 0.023333rem solid #999999;
}
.comment .comment_content .comment_one .comment_qu {
  display: flex;
  justify-content: space-between;
}
.comment .comment_content .comment_one .comment_qu img {
  margin-top: 0.48rem;
  margin-right: 0.24rem;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
}
.comment .comment_content .comment_one .comment_qu .comment_right {
  margin-top: 0.53333rem;
  width: 85%;
  font-size: 0.4rem;
  color: #999999;
}
.comment .comment_content .comment_one .comment_qu .comment_right .com_rig {
  display: flex;
  justify-content: space-between;
}
.comment .comment_content .comment_one .comment_qu .comment_right .com_rig #comment_name {
  color: #434343;
  width: 60%;
}
.comment .comment_content .comment_one .comment_qu .comment_right .com_rig #comment_time {
  font-size: 0.34667rem;
}
.comment .comment_content .comment_one .comment_qu .comment_right #comment_cont {
  display: inline-block;
  margin-top: 0.26667rem;
  margin-bottom: 0.4rem;
}
.comment .comment_content .comment_one .comment_comment {
  margin-left: 0.4rem;
  display: flex;
  justify-content: space-between;
}
.comment .comment_content .comment_one .comment_comment img {
  margin-top: 0.48rem;
  margin-right: 0.24rem;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
}
.comment .comment_content .comment_one .comment_comment .comment_right {
  margin-top: 0.8rem;
  width: 85%;
  font-size: 0.4rem;
  color: #999999;
}
.comment .comment_content .comment_one .comment_comment .comment_right .com_rig {
  display: flex;
  justify-content: space-between;
}
.comment .comment_content .comment_one .comment_comment .comment_right .com_rig #comment_name {
  color: #434343;
  width: 32%;
}
.comment .comment_content .comment_one .comment_comment .comment_right #comment_cont {
  display: inline-block;
  margin-top: 0.26667rem;
  margin-bottom: 0.4rem;
}
.comment .all_a {
  margin-bottom: 0.74667rem;
}
.comment .all_a .all_zi {
  margin-top: 0.37333rem;
  color: #7EC360;
  font-size: 0.4rem;
  text-align: center;
  letter-spacing: 0.02667rem;
}
.comment .all_a img {
  margin-left: 4.77333rem;
  width: 0.45333rem;
  height: 0.45333rem;
}

.suspensions {
  position: relative;
}
.suspensions .suspension {
  position: fixed;
  bottom: 0.26667rem;
  right: 0.26667rem;
  width: 1.6rem;
  height: 1.6rem;
}
.suspensions .suspension img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.suspensions .suspension span {
  position: absolute;
  right: 0.02667rem;
  width: 1.46667rem;
  height: 1.46667rem;
  display: none;
}
.suspensions .suspension .suspension_sign {
  top: -2.66667rem;
}
.suspensions .suspension .suspension_attention {
  top: -1.33333rem;
}

.masking {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.masking .introduction {
  position: fixed;
  width: 100%;
  top: 24%;
  left: 4%;
  width: 9.17333rem;
  height: 7.73333rem;
  background: #FFFFFF;
}
.masking .introduction .introduction_area {
  margin: 0.53333rem 0.42667rem 0 0.42667rem;
  width: 8.26667rem;
  height: 4.8rem;
  border: 0.02667rem solid #CCCCCC;
  outline: none;
}
.masking .introduction .introduction_btn {
  margin: 0.8rem 1.2rem 0 1.2rem;
  display: flex;
  justify-content: space-between;
}
.masking .introduction .introduction_btn span {
  width: 2.26667rem;
  height: 0.8rem;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.8rem;
  border: 0;
  outline: none;
  border-radius: 0.10667rem;
  background: #55aa30;
  color: #FFFFFF;
}
.masking .introduction .introduction_btn .cancel {
  background: #CCCCCC;
  color: #434343;
}

.masking_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.masking_organ {
  position: fixed;
  padding: 0.4rem;
  width: 100%;
  top: 24%;
  left: 4%;
  width: 9.17333rem;
  background: #FFFFFF;
  z-index: 20;
  display: none;
}
.masking_organ .cont {
  font-size: 0.4rem;
  letter-spacing: 0.02667rem;
  margin-top: 0;
}
.masking_organ .phone {
  margin-left: 0.4rem;
}
.masking_organ .phone a {
  display: block;
  margin-top: 0.26667rem;
}

.masking_organs {
  position: fixed;
  padding: 0.4rem;
  width: 100%;
  top: 24%;
  left: 4%;
  width: 9.17333rem;
  background: #FFFFFF;
  z-index: 20;
  display: none;
}
.masking_organs .conts {
  font-size: 0.4rem;
  letter-spacing: 0.02667rem;
  margin-top: 0;
}
.masking_organs .phones {
  margin-left: 0.4rem;
}
.masking_organs .phones a {
  display: block;
  margin-top: 0.26667rem;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.code {
  position: fixed;
  top: 17%;
  left: 9%;
  display: none;
  width: 82%;
  height: 64%;
}
.code img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=explore.css.map */
