a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
}
.head .head_img {
  margin-left: 0.37333rem;
  height: 0.53333rem;
}
.head .head_img img {
  width: 0.53333rem;
  height: 100%;
  vertical-align: middle;
}
.head .head_find {
  display: inline-block;
  font-size: 0.53333rem;
  color: #434343;
}
.head .head_share {
  margin-right: 0.37333rem;
  height: 0.53333rem;
}
.head .head_share img {
  width: 0.53333rem;
  height: 100%;
  vertical-align: middle;
}

.pic_act {
  margin: 0rem 0.37333rem;
}
.pic_act #pic {
  width: 9.25333rem;
  height: 5.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pic_act #active_zi {
  margin-top: 0.21333rem;
  line-height: 0.90667rem;
  font-size: 0.50667rem;
  color: #434343;
}
.pic_act #act_zi {
  margin-top: 0.13333rem;
  margin-bottom: 0.37333rem;
  line-height: 0.66667rem;
  font-size: 0.37333rem;
  color: #808080;
}

.col-ys {
  width: 100%;
  height: 0.29333rem;
  background: #F8F8F8;
}

.information {
  margin: 0.45333rem 0.37333rem 0rem 0.37333rem;
}
.information .in_fo {
  display: flex;
  justify-content: space-between;
}
.information .in_fo #add_ress {
  width: 2.13333rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.information .in_fo .in_time {
  margin-left: 0.13333rem;
  font-size: 0.37333rem;
  letter-spacing: 0.04rem;
}
.information .in_fo .in_time .act_time {
  margin-top: 0.34667rem;
  color: #999999;
}
.information .in_fo .in_time .act_time span {
  color: #434343;
}
.information .in_fo .in_time .act_time:nth-child(1) {
  margin-top: 0rem;
}
.information .xian {
  margin-top: 0.45333rem;
  border: 0.013335rem solid #6D6D6D;
}
.information .bao_num {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.46667rem;
  line-height: 1.46667rem;
  letter-spacing: 0.02667rem;
}
.information .bao_num ._bm {
  color: #999999;
  font-size: 0.37333rem;
}
.information .bao_num ._bm img {
  width: 0.66667rem;
  height: 0.53333rem;
  vertical-align: sub;
}
.information .bao_num ._bm #y_num {
  margin-left: 0.13333rem;
}

.o_info {
  margin: 0rem 0.37333rem;
}
.o_info .organ_info {
  display: flex;
  justify-content: space-between;
  height: 1.46667rem;
  line-height: 1.46667rem;
}
.o_info .organ_info .or_in {
  font-size: 0.37333rem;
  color: #434343;
  letter-spacing: 0.02667rem;
}
.o_info .organ_info .or_name {
  width: 80%;
}
.o_info .organ_info .or_name .orgin {
  margin-left: 0.58667rem;
}
.o_info .organ_info .or_name .orgin #or_img {
  width: 0.45333rem;
  height: 0.42667rem;
  vertical-align: middle;
}
.o_info .organ_info .or_name .orgin #or_name {
  margin-left: 0.13333rem;
  font-size: 0.32rem;
  color: #c6c6c6;
}
.o_info .xian {
  border: 0.013335rem solid #6D6D6D;
}
.o_info .or_organ {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}
.o_info .or_organ button {
  margin-top: 0.64rem;
  width: 3.70667rem;
  height: 0.74667rem;
  background: #FFFFFF;
  outline: none;
  border: none;
  border: 0.02667rem solid #6D6D6D;
  border-radius: 0.05333rem;
  font-size: 0.4rem;
  color: #434343;
}

.o_info {
  margin: 0rem 0.37333rem;
}
.o_info .organ_info {
  display: flex;
  justify-content: space-between;
  height: 1.46667rem;
  line-height: 1.46667rem;
  vertical-align: 0.02667rem;
}
.o_info .organ_info .announcement {
  font-size: 0.45333rem;
  color: #434343;
}
.o_info .organ_info .announcement img {
  width: 0.66667rem;
  height: 0.48rem;
  vertical-align: middle;
  margin-right: 0.18667rem;
}
.o_info .organ_info .announcement_all {
  font-size: 0.37333rem;
  color: #7ec360;
}
.o_info .organ_info .announcement_all img {
  width: 0.26667rem;
  height: 0.4rem;
  vertical-align: middle;
  margin-left: 0.18667rem;
}
.o_info .xian {
  border: 0.013335rem solid #6D6D6D;
}
.o_info .x_gai {
  height: 1.46667rem;
  line-height: 1.46667rem;
  color: #999999;
  font-size: 0.37333rem;
}

.active_act {
  margin: 0rem 0.37333rem;
}
.active_act .active_active {
  height: 1.46667rem;
  font-size: 0.45333rem;
  line-height: 1.46667rem;
  color: #434343;
  letter-spacing: 0.02667rem;
}
.active_act .xian {
  border: 0.013335rem solid #6D6D6D;
}
.active_act #details {
  margin-top: 0.61333rem;
  margin-bottom: 0.88rem;
}
.active_act #details img {
  margin-top: 0.58667rem;
  margin-top: 0.58667rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.comment {
  letter-spacing: 0.02667rem;
}
.comment .comment_c {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.37333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.4rem;
  color: #434343;
}
.comment .comment_c span img {
  margin-right: 0.26667rem;
  width: 0.58667rem;
  height: 0.66667rem;
  vertical-align: middle;
}
.comment .xian {
  border: 0.013335rem solid #6D6D6D;
}
.comment .comment_qu {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0.37333rem;
  border-bottom: 0.013335rem solid #6D6D6D;
}
.comment .comment_qu img {
  margin-top: 0.48rem;
  margin-right: 0.24rem;
  width: 1.46667rem;
  height: 1.46667rem;
  border-radius: 50%;
}
.comment .comment_qu .comment_right {
  margin-top: 0.93333rem;
  display: flex;
  justify-content: space-between;
  width: 82%;
  font-size: 0.4rem;
  color: #999999;
}
.comment .comment_qu .comment_right .com_rig {
  display: flex;
  flex-direction: column;
}
.comment .comment_qu .comment_right .com_rig #comment_name {
  color: #434343;
}
.comment .comment_qu .comment_right .com_rig #comment_cont {
  margin-top: 0.26667rem;
  margin-bottom: 0.4rem;
}

.all_a {
  margin-bottom: 0.74667rem;
}
.all_a .all_zi {
  margin-top: 0.37333rem;
  color: #7EC360;
  font-size: 0.4rem;
  text-align: center;
  letter-spacing: 0.02667rem;
}
.all_a img {
  margin-left: 4.77333rem;
  margin-top: 0.18667rem;
  width: 0.45333rem;
  height: 0.45333rem;
}

/*# sourceMappingURL=preview_find.css.map */
