a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 80px;
	background: #828958;
	color: #fefff4;
	text-align: center;
	line-height: 80px;
	letter-spacing: 4px;
	font-size: 28px;
}
.left{
	margin-top: -31px;
	width: 166px;
	height: 835px;
	background: #efefef;
	/*display: inline-block;*/
	float: left;
	overflow: hidden;
}
.left_status{
	margin-top: 30px;
}
.status{
	width: 100%;
	height: 35px;
	margin-top: 12px;
	text-align: center;
	color: #FEFFF4;
	line-height: 35px;
}
.status_first{
	background: #665443;
	position: relative;
}
.status_two{
	background: #676341;
}
.status_three{
	background: #4e6742;
}
.status_fore{
	background: #4E6742;
}
.status_five{
	background: #665443;
}
.status_report{
	background: #676341;
}
/*箭头*/
.a_index {
	position: absolute;
	top: 13px;
	right: 24px;
	display: inline-block;
	/*margin: 72px;*/
	border-right: 2px solid;
	border-bottom: 2px solid;
	width: 8px;
	height: 8px;
	transform: rotate(-45deg);
}

.right{
	padding-left: 34px;
	padding-right: 34px;
	margin-left:166px;
	/*overflow: hidden;*/
}
/*查询*/
.find{
	position: relative;
	margin: 0 auto;
	width: 377px;
	height: 36px;
	border: 1px solid #CECECE;
	margin-top: 31px;
	border-radius: 4px;
}
#find{
	padding-left: 12px;
	width: 322px;
	height: 95%;
	border: 0;
	outline: none;
}
.seach{
	background: 0;
	outline: none;
	border: 0;
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 100%;
	border-left: 1px solid #D3D6DA;
	text-align: center;
	line-height: 35px;
}

.status_one{
	display: flex;
	align-items: center;
	height: 36px;
	margin-top: 30px;
}
.status_s{
	margin: 0 auto;
	width: 430px;
	height: 32px;
	background: #727272;
	vertical-align:middle;
}
.status_a{
	width: 72px;
	margin-right: 29px;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 31px;
	height: 100%;
	cursor: pointer;
}
.oneStatus{
	height: 34px;
	margin-top: -1px;
	background: #007b7b;
	border: 1px solid #146a70;
}
.card{
	position: relative;
	/*min-height: 500px;*/
	height: 700px;
}
.explore{
	position: absolute;
	margin-top: 40px;
	width: 100%;
}
.explore_one{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*height: 34px;*/
}
.explore_e{
	width: 220px;
	height: 30px;
	background: #727272;
	vertical-align:middle;
}
.explore_a{
	display: inline-block;
	width: 50px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.explore_a:nth-child(2){
	height: 32px;
	background: #6e7b08;
	margin-top: -1px;
	border: 1px solid #6e7b08;
}
.num_n{
	display: inline-block;
	font-size: 16px;
	margin-left: 32px;
	color: #919191;
}
.num_n span{
	color: #7ba043;
}
.actity{
	/*position: relative;*/
	margin-top: 12px;
}
.actity_one{
	/*position: absolute;*/
	width: 100%;
	/*display: none;*/
}
.actity_one table{
	width: 100%;
}
.actity_one table tr{
	/*height: 46px;*/
	line-height: 46px;
	border-top: 1px solid #838383;
}
.actity_one table tr:nth-child(1){
	width: 100%;
	height: 32px;
	background: #000000;
	color: #fff;
	line-height: 32px;
}
.pass{
	width: 45px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background: #7f9a4c;
	border: 1px solid #3a402f;
	font-size: 10px;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}
.nopass{
	width: 45px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background: #a04c45;
	border: 1px solid #3a402f;
	font-size: 10px;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}
.passed{
	width: 222px;
	height: 30px;
	background: #727272;
	vertical-align:middle;
}
.passed_a{
	display: inline-block;
	width: 50px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.passed_a:nth-child(1){
	background: #6e7b08;
	margin-top: -1px;
	border: 1px solid #6e7b08;
}
.passed_b{
	display: inline-block;
	width: 50px;
	height: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.passed_b:nth-child(1){
	background: #6e7b08;
	margin-top: -1px;
	border: 1px solid #6e7b08;
}
.all{
	width: 306px;
	height: 30px;
	background: #dcdcdc;
}
.all_one{
	height: 100%;
}
.all_a{
	display: inline-block;
	margin: 10px 9px;
	font-size: 12px;
	cursor: pointer;
}
.all_a:nth-child(1){
	color: #6e7b08;
}
.pass_activited{
	/*position: relative;*/
	width: 100%;
}
.pass_activity{
	/*position: absolute;*/
	margin-top: 5px;
	/*display: none;*/
	width: 100%;
}
.pass_activity table{
	width: 100%;
}
.pass_activity table tr{
	/*height: 46px;*/
	line-height: 46px;
	border-top: 1px solid #838383;
}
.pass_activity table tr:nth-child(1){
	width: 100%;
	height: 32px;
	background: #000000;
	color: #fff;
	line-height: 32px;
}
.push_first{
	width: 44px;
	height: 24px;
	background: #017581;
	color: #fff;
	border: 0;
	outline: none;
	border:1px solid #2c3013;
	cursor: pointer;
}
.sticky{
	width: 44px;
	height: 24px;
	background: #6e7e19;
	color: #fff;
	border: 0;
	outline: none;
	border:1px solid #2c3013;
	cursor: pointer;
}
.push_column{
	width: 44px;
	height: 24px;
	background: #547748;
	color: #fff;
	border: 0;
	outline: none;
	border:1px solid #2c3013;
	cursor: pointer;
}
.set_column{
	width: 44px;
	height: 24px;
	background: #384968;
	color: #fff;
	border: 0;
	outline: none;
	border:1px solid #2c3013;
	cursor: pointer;
}
.delete{
	width: 34px;
	height: 34px;
	background: #d15b06;
	color: #fff;
	border: 1px solid #2c3013;
	border-radius: 50%;
	font-size: 10px;
	border: 0;
	outline: none;
}
.read{
	color: #6e7b08;
	cursor: pointer;
}
.operating{
	width: 44px;
	height: 24px;
	background: #95b7b3;
	border: 0;
	outline: none;
	border: 1px solid #000;
	cursor: pointer;
}

.page{
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}
.page_a{
	display: inline-block;
	margin-left: 12px;
	cursor: pointer;
}
.page_b{
	display: inline-block;
	margin-left: 12px;
	cursor: pointer;
}
.page_c{
	display: inline-block;
	margin-left: 12px;
	cursor: pointer;
}
.page_d{
	display: inline-block;
	margin-left: 12px;
	cursor: pointer;
}
.clickDate{
	cursor: pointer;
}
.delete{
	cursor: pointer;
}


body{
	position: relative;
}
/*遮罩*/
.zhezhao{
	position: absolute;
    top: 0px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 918px;
    display: none;
}
/*公告*/
.show_announcement{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
    width: 330px;
    height: 540px;
    overflow: auto;
    display: none;
}
.announcement_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.announcement_content_headImg{
  margin-left: 10px;
  height: 10px;
}
.announcement_content_headImg img {
	cursor: pointer;
  width: 10px;
  height: 100%;
  vertical-align: middle;
}
.announcement_content_headFind {
  display: inline-block;
  font-size: 10px;
  margin-top: 12px;
  color: #434343;
}
.announcement_content_headShare {
  margin-right: 10px;
  height: 10px;
}
.announcement_content_headShare img {
  width:10px;
  height: 100%;
  vertical-align: middle;
}
h2{
	text-align: center;
}
.show_announcements{
	margin-top: 10px;
	padding: 10px;
}
/*发现预览*/
.a {
	position: fixed;
	top: 5%;
	left: 45%;
	z-index: 10;
	overflow: auto;
	display: none;
}
.zhe_show{
	background: #fff;
	width: 330px;
	height: 540px;
	overflow: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.head .head_img {
  margin-left: 10px;
  height: 10px;
}
.head .head_img img {
  width: 10px;
  height: 100%;
  vertical-align: middle;
}
.head .head_find {
  display: inline-block;
  font-size: 10px;
  margin-top: 12px;
  color: #434343;
}
.head .head_share {
  margin-right: 10px;
  height: 10px;
}
.head .head_share img {
  width:10px;
  height: 100%;
  vertical-align: middle;
}

.pic_act {
  margin: 0px 10px;
}
.pic_act #pic {
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pic{
	position: relative;
}
#pic img{
	position: absolute;
	top: 28%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
.pic_act #active_zi {
  margin-top: 10px;
  line-height: 16px;
  font-size: 12px;
  color: #434343;
}
.pic_act #act_zi {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 14px;
  font-size: 10px;
  color: #808080;
}

.col-ys {
  width: 100%;
  height: 8px;
  background: #F8F8F8;
}

.information {
  margin: 8px 10px 0px 10px;
}
.information .in_fo {
  display: flex;
  justify-content: space-between;
}
.information .in_fo #add_ress {
  width: 84px;
  height: 110px;
  /*background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
}
#adds_ress{
	width: 100%;
	height: 100%;
}
.information .in_fo .in_time {
  margin-left: 4px;
  font-size: 10px;
  letter-spacing: 1px;
}
.information .in_fo .in_time .act_time {
  margin-top: 10px;
  color: #999999;
}
.information .in_fo .in_time .act_time span {
  color: #434343;
}
.information .in_fo .in_time .act_time:nth-child(1) {
  margin-top: 0px;
}
.information .xian {
  margin-top: 10px;
  height: 4px;
  background: #F8F8F8;
}
.information .bao_num {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;
  letter-spacing: 2px;
}
.information .bao_num ._bm {
  color: #999999;
  font-size: 10px;
}
.information .bao_num ._bm img {
  width: 10px;
  height: 10px;
  vertical-align: sub;
}
.information .bao_num ._bm #y_num {
  margin-left: 10px;
}

.o_info {
  margin: 0px 10px;
}
.o_info .organ_info {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  line-height: 30px;
}
.o_info .organ_info .or_in {
  font-size: 10px;
  color: #434343;
  letter-spacing: 2px;
}
.o_info .organ_info .or_name {
  width: 82%;
}
.o_info .organ_info .or_name .orgin {
  margin-left: 8px;
}
.o_info .organ_info .or_name .orgin #or_img {
  width: 12px;
  height: 10px;
  vertical-align: middle;
}
.o_info .organ_info .or_name .orgin #or_name {
  margin-left: 10px;
  font-size: 10px;
  color: #c6c6c6;
}
.o_info .xian {
	margin: 0;
	height: 4px;
  background: #F8F8F8;
}
.o_info .or_organ {
  display: flex;
  justify-content: space-around;
  height: 40px;
}
.o_info .or_organ button {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  line-height: 20px;
  background: #FFFFFF;
  outline: none;
  border: none;
  border: 1px solid #6D6D6D;
  border-radius: 2px;
  font-size: 10px;
  color: #434343;
}

.o_info {
  margin: 0px 10px;
}
.o_infos {
  margin: 0px 10px;
}
.o_info .organ_info {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  vertical-align: 2px;
}
.o_infos .organ_info {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  vertical-align: 2px;
}
.o_info .organ_info .announcement {
  font-size: 10px;
  color: #434343;
}
.o_infos .organ_info .announcement {
  font-size: 10px;
  color: #434343;
}
.o_info .organ_info .announcement img {
  width: 12px;
  height: 10px;
  vertical-align: middle;
  margin-right: 8px;
}
.o_infos .organ_info .announcement img {
  width: 12px;
  height: 10px;
  vertical-align: middle;
  margin-right: 8px;
}
.o_info .organ_info .announcement_all {
  font-size: 10px;
  color: #7ec360;
}
.o_infos .organ_info .announcement_all {
	cursor: pointer;
  font-size: 10px;
  color: #7ec360;
}
.o_info .organ_info .announcement_all img {
  width: 8px;
  height: 10px;
  vertical-align: middle;
  margin-left: 8px;
}
.o_infos .organ_info .announcement_all img {
  width: 8px;
  height: 10px;
  vertical-align: middle;
  margin-left: 8px;
}
.o_info .xian {
	margin: 0;
	height: 4px;
  background: #F8F8F8;
}
.o_infos .xian {
	margin: 0;
	height: 4px;
  background: #F8F8F8;
}
.o_info .x_gai {
  height: 30px;
  line-height: 30px;
  color: #999999;
  font-size: 10px;
}
.o_infos .x_gai {
	display: flex;
	justify-content: space-between;
  height: 30px;
  line-height: 30px;
  color: #999999;
  font-size: 10px;
}

.active_act {
  margin: 0px 10px;
}
.active_act .active_active {
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  color: #434343;
  letter-spacing: 2px;
}
.active_act .xian {
	margin: 0;
  border-bottom: 1px solid #6D6D6D;
}
.active_act #details {
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-size: 10px;
  color: #999999;
  line-height: 14px;
  letter-spacing: 2px;*/
}
.active_act #details img {
  margin-top: 10px;
  margin-top: 10px;
  width: 100%;
  /*height: 130px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#detail video{
	width: 100%;
}
#details video{
	width: 100%;
}
#details p{
	word-wrap: break-word;
}
.comment {
  letter-spacing: 2px;
}
.comment .comment_c {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  color: #434343;
}
.comment .comment_c span img {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
.comment .xian {
	margin: 0;
  border-bottom: 1px solid #6D6D6D;
}
.comment .comment_qu {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  border-bottom: 1px solid #6D6D6D;
}
.comment .comment_qu img {
  margin-top: 6px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment .comment_qu .comment_right {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 86%;
  font-size: 10px;
  color: #999999;
}
.comment .comment_qu .comment_right .com_rig {
  display: flex;
  flex-direction: column;
}
.comment .comment_qu .comment_right .com_rig #comment_name {
  color: #434343;
}
.comment .comment_qu .comment_right .com_rig #comment_cont {
  margin-top: 4px;
  margin-bottom: 4px;
}

.all_pl {
	margin: 0;
  margin-bottom: 20px;
  width: 100%;
}
.all_pl .all_zi {
  margin-top: 10px;
  color: #7EC360;
  font-size: 10px;
  text-align: center;
  letter-spacing: 2px;
}
.all_pl img {
  margin-left: 144px;
  margin-top: 8px;
  width: 12px;
  height: 12px;
}

#pre_find{
	position: absolute;
	top: 5%;
	left: 37%;
	height: 500px;
	display: none;
}


/*探索*/
.zhezhao_a{
	position: absolute;
    top: 0px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 918px;
    display: none;
}
.a_explore{
	position: fixed;
	top: 5%;
	left: 45%;
	z-index: 10;
	overflow: auto;
	display: none;
}

#pics {
	position: relative;
 width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-image: url(../cropper-master20160830/assets/img/picture.jpg);*/
}
#pics img{
	position: absolute;
	top: 28%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
.head_pic {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0px 10px;
}
.head_pic #head_pic {
  position: absolute;
  top: -24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-image: url(../cropper-master20160830/assets/img/picture.jpg);*/
  
}
.head_pic .head_name {
  display: flex;
  justify-content: space-between;
  margin-left: 58px;
  margin-top: 14px;
  width: 80%;
  color: #999999;
}
.head_pic .head_name .author {
  font-size: 10px;
}
.head_pic .head_name .attention {
  font-size: 12px;
}
.head_pic .head_name .attention img {
  vertical-align: initial;
  width: 10px;
  height: 10px;
}

#activity_title {
  margin: 0px 10px;
  margin-top: 18px;
  line-height: 30px;
  color: #434343;
  letter-spacing: 1px;
  font-size: 20px;
}

.activity_time {
  margin: 0px 10px;
  margin-top: 18px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 1px;
}

.preface {
  margin: 44px 10px 0px 10px;
}
.preface .preface_n {
  font-size: 12px;
  color: #434343;
}
.preface #detail {
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-size: 10px;*/
  /*color: #999999;*/
  /*line-height: 14px;
  letter-spacing: 2px;*/
}
.preface #detail img {
  margin-top: 10px;
  margin-top: 10px;
  width: 100%;
  /*height: 130px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#detail p{
	word-wrap: break-word;
}
.preface .read {
  margin-top: 14px;
  margin-bottom: 12px;
  font-size: 10px;
  text-align: center;
  color: #d7d6d6;
}

.col-ys {
  width: 100%;
  height: 8px;
  background: #F8F8F8;
}
/*首页预览*/
.home {
	position: fixed;
	top: 5%;
	left: 20%;
	z-index: 10;
	width: 320px;
	height: 540px;
	background: #fff;
	display: none;
}

.home_a {
	display: flex;
	justify-content: space-between;
	/*margin: 0px 10px;*/
	width: 100%;
	height: 32px;
	line-height: 30px;
	background-color: #FFFFFF;
	padding: 0px 10px;
}

.home_a img {
	width: 16px;
	height: 16px;
	margin-top: 8px;
}

.home_pics {
	position: relative;
}

#home_pic {
	width: 100%;
	height: 280px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	/*background-image: url(../cropper-master20160830/assets/img/picture.jpg);*/
}

.home_find {
	position: absolute;
	top: 0px;
	left: 20px;
}
#home_pic img{
	position: absolute;
	top:33%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
.home_find img {
	width: 20px;
}

.home_subject {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0px 10px;
}

.home_subjectOne {
	position: absolute;
	top: -24px;
}

.home_subjectOne img {
	width: 40px;
}

.home_subjectTwo {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.home_subjectTwo img {
	width: 40px;
}

#subject {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding: 0px 8px;
	height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#time {
	margin-left: 20%;
	margin: 0 auto;
	margin-top: 14px;
	font-size: 16px;
	color: #434343;
	letter-spacing: 2px;
}

.home_num {
	margin: auto;
	margin-top: 6px;
	margin-left: 29%;
	color: #999999;
	letter-spacing: 2px;
}

#home_des {
	margin: 0px 10px;
	margin-top: 2px;
	color: #434343;
	letter-spacing: 1px;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.signUp {
	display: flex;
	justify-content: space-between;
	margin: 0px 10px;
	margin-top: 14px;
	margin-bottom: 10px;
}

.signUp span {
	color: #999999;
}

.signUp span img {
	width: 24px;
	height: 20px;
}

.signUp_xian {
	background: #F8F8F8;
	width: 100%;
	height: 6px;
}

.home_organ {
	display: flex;
	justify-content: space-between;
	height: 40px;
	line-height: 40px;
	margin: 0px 10px;
}

.home_organs {
	color: #565656;
	font-size: 14px;
}

.home_name {
	width: 82%;
}

.home_names{
	margin-left: 8px;
}
.home_names img{
	width: 16px;
	height: 16px;
}
#home_name{
	margin-left: 6px;
}
#organ_name {
	margin-left: 8px;
	color: #999999;
}

footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #999999;
}

footer img {
	width: 28px;
	height: 24px;
}

footer div {
	display: flex;
	flex-direction: column;
	margin-top: 2px;
}

footer span {
	color: #999999;
	margin-top: 2px;
}

.homes {
	color: #434343;
}
.playVideo{
	width: 100%;
}
/*围观*/
.onlookerThey{
	position: fixed;
	padding: 10px;
	top: 10%;
	left: 36%;
	z-index: 10;
	width: 338px;
	height: 540px;
	background: #fff;
	overflow: auto;
	display: none;
}
#onlookerHead{
	position: relative;
	width: 100%;
	height: 300px;
	/*background-image: url(../cropper-master20160830/assets/img/picture.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#onlookerLogo{
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 170px;
	/*background-image: url(../cropper-master20160830/assets/img/picture.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#onlookerLogo img{
	position: absolute;
	top: 28%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
#onlookerDes{
	margin-top: 10px;
	padding: 10px;
	/*background: #D0D0D0;*/
	letter-spacing: 2px;
}
#onlookerTitle{
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;
	/*background: #D0D0D0;*/
	letter-spacing: 2px;
}
#onlookerDet{
	margin-top: 20px;
	padding: 10px;
	/*font-size: 20px;*/
	/*background: #D0D0D0;*/
	/*letter-spacing: 2px;*/
}
#onlookerDet img{
	width: 100%;
}
#onlookerDet p{
	word-wrap: break-word;
}
#onlookerHead img{
	position: absolute;
	top: 28%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
#onlookerLogo img{
	position: absolute;
	top: 28%;
	left: 38%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: none;
}
/*#paused{
}*/
@media screen and (max-width:1450px){
	.home{
		left: 15%;
	}
}
@media screen and (max-width:1250px){
	.a{
		left: 50%;
	}
	.a_explore{
		left: 50%;
	}
}
@media screen and (max-width:1060px){
	.home{
		left: 8%;
	}
}
#announcements{
	width: 56%;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}